.section1 {
    background-image: url("images/image2.png");
    background-size: cover;
    height: 500px;
}
.navbar {
  display: flex;
}
.section1 .navbar #logo{
  display: flex;
  margin-left: 35px;
}
.section1 .navbar #logo h5 {
    color: orange;
}
#list {
   display: flex;
   margin-left: 42.5%;
   margin-top: 0px;
   background-color: rgba(85, 85, 84, 0.7);
   height: 40px;
   padding-top: 15px;
   padding-left: 2px;
}
#other {
    color: white;
}
#list span {
    color: orange;
}
#list button {
    height: 30px;
    width: 100px;
    background-color: orange;
    border: solid orange;
    color: white;
    margin-top: -5px;
}
#list li{
    list-style: none;
    padding: 0px 30px;
}
#advert {
    margin-top: 80px;
    margin-left: 45px;
}
#advert h2 {
    color: white;
}
#advert button {
    height: 30px;
    width: 100px;
    background-color: orange;
    border: solid orange;
    color: white;
}
.section2 {
    text-align: center;
    height: 500px;
    background-color: #eae9eb;
    margin-top: -21px;
    padding-top: 30px;
}
.section2 h1 {
    color: orange;
}
.section2 p {
    font-style: italic;
}
.services {
    display: flex;
    margin-left: 200px;
}
.button {
    border: solid white;
    margin-top: 50px;
    background-color: white;
    margin-left: 15px;
    height: 170px;
    padding-top: 20px;
    width: 250px;
}
.section3 {
    display: flex;
    background-color: black;
}
.section3 p{
    font-style: italic;
}
#reviews {
    text-align: center;
    margin-left: 140px;
    margin-top: 60px;
    color: white;
    
}
#reviews h1{
    border-bottom: solid white;
    padding-bottom: 20px;
}
.section4 {
    text-align: center;
    background-color: #eae9eb;
    margin-top: -20px;
    height: 780px;
}
.section4 h2 {
    color: orange;
}
.section4 h4 {
    color: orange;
}
.section4 p{
    font-style: italic;
}
#menu {
    display: flex;
    margin-left: 12%;
}
#menu1 {
    display: flex;
    margin-left: 12%;
}
#box {
    display: flex;
    border: solid white;
    background-color: white;
    margin: 25px;
    width: 420px;
}
#meals {
    text-align: left;
    margin-left: 15px;
}